/* Styles for the card container */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Styles for the button */
  button {
    background-color: aguamarine;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color:  aquamarine;
  }
  
  /* Styles for the case when there are no citas */
  #noCitas {
    text-align: center;
    padding: 20px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    margin-top: 20px;
  }
  