<div class="card">
    <div class="card-body">
      <h5 class="card-title">Nombre del profesional : {{ cita?.professionalName }}  {{cita?.professionalLastName}}</h5>
      <h5 class="card-title">Nombre del Paciente : {{ cita?.clientName }}  {{cita?.clientLastName}}</h5>
      <p class="card-text">Inicio: {{ cita?.createdAt | date:'shortDate' }} a las {{ cita?.createdAt | date:'shortTime' }}</p>
      <p class="card-text">Fin: {{ cita?.finishTime | date:'shortDate' }} a las {{ cita?.finishTime | date:'shortTime' }}</p>
     
    </div>
</div>
  